@import "tailwindcss";

:root {
  --background: var(--color-blue-50);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
  --font-baskervville: var(--font-baskervville);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-blue-50);
    --foreground: #171717;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:text-white {
      color: var(--color-black);
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:text-white\/50 {
      color: #ffffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:text-gray-400 {
      color: var(--color-gray-500);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
